HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Multi Modules Project
/**/.externalToolBuilders/
/**/.settings/
/**/.allure/
/**/target/
/**/doc/
/**/bin/
/**/build/
/**/lib/
/**/test-output/
/**/allure-results/
/**/report/
/**/.classpath
/**/.project
/**/.checkstyle
/**/reports
/**/af.reporting
/**/.idea/
/**/out/
/**/shelf/
/**/workspace.xml
/**/*.iml
/**/*.ucls

# Ignore binary
*.bin
*.exe
*.xpi

# Ignore log
# *.log
*.log.[1234567890]

# Ignore IntelliJ IDEA Config Files
*.stackdump

# Ignore Picture
*.bmp
# *.png
*.jpg
*.jpeg

# Ignore doc/notes.txt, but not doc/info/arch.txt
# doc/*.txt

# Ignore all .txt files in the directory doc/
# doc/**/*.txt

# Ignore .doc .pfd .docx
*.doc
*.docx
*.pdf